.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0px 25px 25px;
    background-color: #000;
    height: auto; /* Ensure it doesn’t constrain the image */
}

.logo {
    width: 300px;
    height: auto;
    object-fit: cover; /* Or use cover */
}
