/* App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Match your header or main content background */
    color: #333;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Ensure no margin around the container */
    padding: 0; /* Ensure no padding around the container */
}

.main-content {
    text-align: center;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.description {
    font-size: 1.2rem;
    color: #555;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #adadad;
}

    .footer .social-link {
        color: #d4e9ff;
        text-decoration: underline;
    }
