/* This is your CSS file */

/* Make the background light gray */
body {
    background-color: #f4f4f4;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the heading (h1) */
h1 {
    color: #333;
    margin: 10px 20px;
}

/* Style paragraphs (p) */
p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 20px;
}

/* Style links (a) */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Header styling */
header {
    background-color: #000f;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
}


/* Footer styling */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

    footer a {
        color: #007BFF;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }